<li>
    <p>
        <span id="post-user-name">
            <div class="post-user-photo">
                <img src="<%=comment.user.avatar%>">
            </div>
            <%=comment.user.name%>
        </span>

        <small class="about-post">
            <%=comment.createdAt%>
        </small>

        <% if(locals.user && locals.user.id==comment.user._id){%>
            <small>
                <a href="/comments/destroy/<%=comment.id%>" class="button">Delete</a>
            </small>
            <%}%>
                <br>
                <%=comment.content%>
                <br>
                    <small>
                        <%if(locals.user){%>
                            <a class="toggle-like-button" data-likes="<%=comment.likes.length %>"
                                href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                                <%=comment.likes.length %> Likes
                            </a>
                            <% } else { %>
                                <%=comment.likes.length %> Likes
                                    <%}%>
                    </small>
    </p>
</li>