<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" />
    <link rel="icon" href="<%=assetPath('images/favicon.png')%>">
    <link rel="stylesheet" href="<%=assetPath('css/layout.css')%>">
    <%-style%>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>

    <%-include('_header')%>
        <%-body%>
            <%-include('_footer')%>

                <%-script%>
                
                <script>
                    <% if (flash.success && flash.success.length > 0) {%>
                    new Noty({
                        theme: 'relax',
                        text: '<%=flash.success%>',
                        type: 'success',
                        layout: 'topRight',
                        timeout: '1500'
                    }).show();
                       <%}%>
                       <% if (flash.error && flash.error.length > 0) {%>
                    new Noty({
                        theme: 'relax',
                        text: '<%=flash.error%>',
                        type: 'error',
                        layout: 'topRight',
                        timeout: '1500'
                    }).show();
                       <%}%>
            </script>
                   
</body>

</html>