<link rel="stylesheet" href="/css/user_profile.css">
<div id="profile-page">

    <section id="user-info">

        <div id="profile-picture-container">
            <img src="<%=profile_user.avatar%>" id="profile-picture" alt="<%=profile_user.name%>">

        </div>
        <h1 id="user-name">
            <%=profile_user.name%>
        </h1>

        <% if(user.id==profile_user.id){%>
            <!-- if user matches show update form -->
            <h3>Update Profile</h3>
            <form action="/users/update/<%=profile_user.id %>" enctype="multipart/form-data" method="post">
                <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name %>" required>
                <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email %>" required>
                <input type="file" id="input-profile-picture" name="avatar" placeholder="Profile Picture">
                <input type="submit" class="button" value="Update">
            </form>

            <%} else{%>
                <p>
                    <!-- <%=profile_user.name %> -->
                </p>
                <p>
                    <!-- <%=profile_user.email %> -->
                </p>

                <%}%>
    </section>

    <section id="user-posts">
        <h3>Posts</h3>
        <div id="posts-list-container">
            <ul>
                <% for(post of user_posts) {%>

                    <%-include('_post')%>

                        <%}%>
            </ul>
        </div>
    </section>

    <section id="user-friends">
        <h3>Friends</h3>
        <ul>
            <% for(user of all_users){ %>
                <li>
                    <a href="/users/profile/<%=user.id%>">
                        <%=user.name%>
                    </a>
                </li>
                <% } %>
        </ul>
    </section>